[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-rest-framework-social-oauth2 = "*"
django-oauth-toolkit = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
